In [8]:
import pandas as pd
from sqlalchemy import create_engine

In [9]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [10]:
query = """
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND 
    schemaname != 'information_schema';
"""

pd.read_sql(query, con=engine)

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,green_taxi_data,root,None,True,False,False,False
1,public,zones,root,None,True,False,False,False

In [18]:
query = """
SELECT COUNT(*) FROM green_taxi_data WHERE lpep_pickup_datetime::date = '2019-09-18'
AND lpep_dropoff_datetime::date =  '2019-09-18'; 
"""

pd.read_sql(query, con=engine)

   count
0  15612

In [19]:
query = """
SELECT LPEP_PICKUP_DATETIME :: date
FROM GREEN_TAXI_DATA
WHERE TRIP_DISTANCE = (SELECT MAX(TRIP_DISTANCE) FROM GREEN_TAXI_DATA);
"""

pd.read_sql(query, con=engine)

  lpep_pickup_datetime
0           2019-09-26

In [20]:
query = """
SELECT "Borough",SUM(fare_amount) AS total_amount FROM green_taxi_data JOIN zones ON "PULocationID" = "LocationID" 
WHERE lpep_pickup_datetime::date = '2019-09-18'
AND "Borough" !='Unknown'
GROUP BY "Borough" 
HAVING SUM(fare_amount) > 50000;
"""
pd.read_sql(query, con=engine)

     Borough  total_amount
0   Brooklyn      81795.96
1  Manhattan      72356.18
2     Queens      67243.45

In [23]:
query = """
WITH pick AS (
SELECT DISTINCT "PULocationID",lpep_pickup_datetime::date AS pickup_date,
	lpep_dropoff_datetime::date AS dropoff_date,"Zone","DOLocationID",tip_amount FROM zones 
	JOIN green_taxi_data ON "PULocationID" = "LocationID" 
	WHERE LOWER("Zone") = 'astoria' AND TO_CHAR(lpep_pickup_datetime::date,'MM-YYYY') = '09-2019'
	) 
SELECT "Zone" FROM zones WHERE "LocationID" =
	(SELECT "DOLocationID" FROM pick WHERE tip_amount = 
			(SELECT MAX(tip_amount) FROM pick)
		);
"""

pd.read_sql(query, con=engine)

          Zone
0  JFK Airport